@import './theme.css';
@import './animations.css';
@import './sections/header.css';
@import './sections/hero.css';
@import './sections/about.css';
@import './sections/skills.css';
@import './sections/projects.css';
@import './sections/contact.css';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    position: relative;
}