header {
  height: 64px;
  border-bottom: 1px solid var(--border-color);
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--bg-header);
}

.header-name {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 22px;
  font-weight: 800;
}

.gradient-text {
  background: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 24px;

  & a {
    color: var(--text-secondary);
    padding: 12px;
    border-radius: 8px;
    border-bottom: 1px solid transparent;
  }

  & a:hover {
    background-color: var(--bg-hover);
    border-bottom: 1px solid var(--accent-purple);
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-card {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-hover);
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.4s ease;
}

.contact-icon {
  color: white;
  font-size: 24px;
}

.contact-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 -2px 10px var(--accent-purple);

  & .contact-icon {
    color: var(--accent-purple);
  }
}
